@import "tailwindcss";
@plugin '../../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-ceaser: var(--font-ceaser);
  --font-sen: var(--font-sen);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

html {
  height: 100%;
  background-color: #161842;
}

body {
  height: 100%;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0)
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px)
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px)
  }
}

.shake {
  animation: shake 0.8s ease-in-out infinite;
}


.mythic-text-shadow {
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.custom-bg {
  min-height: 100%;
  padding-bottom: 40px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(#16184200 45vh, #161842 68vh),
    url("/assets/images/background.webp");
}

.light-effect {
  border-bottom: 110px solid #00f1ff;
  border-left: 25px solid #0000;
  border-right: 25px solid #0000;
  width: 180px;
  height: 0;
  position: absolute;
  z-index: 100;
  transform: rotateX(180deg);
  top: 0;
  filter: blur(15px) drop-shadow(0px 0px 40px #ff8400);
  opacity: 0.7;
}


button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee20;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff30;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff40;
}